name: Publish

on:
    push:
        branches: [ main ]

    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6

            -   name: Set up JDK 15
                uses: actions/setup-java@v5
                with:
                    java-version: '15'
                    distribution: 'temurin'
                    server-id: central
                    server-username: MAVEN_USERNAME
                    server-password: MAVEN_PASSWORD
                    gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
                    gpg-passphrase: MAVEN_GPG_PASSPHRASE

            -   name: Cache local Maven repository
                uses: actions/cache@v4
                with:
                    path: ~/.m2/repository
                    key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                    restore-keys: |
                        ${{ runner.os }}-maven-

            -   name: Maven Deploy
                run: mvn deploy -Pdeploy
                env:
                    MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
                    MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
                    MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
